* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
   }
   .header {
    height: 50px;
    background-color: #f37579; /* Medium blue */
   }
   .menu {
    height:500px;
    background-color: #f95d63; /* Red */
   }
   .menu ul {
    margin:2em;
   }
   .contente {
    float: right;
    width:500px;
    height: 500px;;
    background-color: #F5CF8E; /* Yellow */
   }
   .footer {
    height: 200px;
    background-color: #D6E9FE; /* Light blue */
   }
.headere {
 height: 50px;
 background-color: #25971c; /*sobre mí*/
}
.sidebar{
 background: rgb(5, 104, 12);
 position: left;
 left: 0;
 width: 14.5em;
 height: 36em;
 padding: 20px 0;
 transition: all 0.5s ease;/*SOBRE MÍ*/
}
.content{
 float:right;
 width: 81em;
 height:38.5em;
 background-color: rgb(5, 104, 12); /*SOBRE MÍ*/
}
.content ul {
 margin-left:2em; /*SOBRE MÍ*/
}
.photo{
 float:right;
 width:10em;
 height: 10em;
 background-color: rgb(5, 104, 12); /*SOBRE MÍ*/
}